
input[type="radio"]{
  display: none;
}
.container-category{
  width: 100%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 auto;
}
main{
  background-color: white;
}
.container-category label{
  padding: 3px 40px;
  margin:10px;
  font-size: 15px;
  background-color: var(--azul-fuerte);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
h1 {
  text-align: left;
  margin-left: 70px;
  font-family: var(--Banchscrich-fontp);
}
table {
  border: 2px solid var(--azul-fuerte);
  border-collapse: collapse;
  margin-left: 70px;
  width: 80%;
  height: 90px;
  font-family: var(--Banchscrich-font);
}
th {
  padding-left: 20px;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:var(--amarillo) ;
  color: white;
}
td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.img1 {
  max-width: 100px;
}
.button {
  display: inline-block;
  margin-right: 1em;
}

.bg-osc{
  background: var(--azul-fuerte);
  color: #ffff;
}

.bg-fondo-dark{
  background: var(--azul-fuerte);
}

.bg-blanco{
  background: #ffff;
}