@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');           /*FUENTE OSWALD GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');        /*FUENTE OPEN SANS GOOGLE*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700;900&display=swap');


/*HEREDAMOS ESTILOS CSS DE ARCHIVOS EXTERNOS*/
@import url('header.css');
@import url('footer.css');
@import url('vent_add_car.css');


@import url('./procesar-pedido/procesar-pedido.css');
@import url('./bolsita/bolsa.css');
@import url('home.css');
@import url('productos.css');
@import url('./promociones/promociones.css');
@import url('colores.css');
@import url('empleados.css');
@import url('comidas.css');
@import url('search.css');
@import url('vent_emergen.css');


/*VARIABLES DE FUENTES, COLOR, ETC QUE SE USAN MULTIPLES VECES*/
:root{
    --color-text-negro: #000103;
    --color-text-negro-bajo: #212529;
    --color-text-input: #707070;
    --color-blanco: #ffff;
    --color-vino: #370617;
    --color-vino-50: #3706177c;
    --color-amarillo: #f48c06;
    --color-amarillo-principal: #ffba08;
    --color-naranja: #e85d04;
    --color-naranja-bajo: #f48c08;
    --color-rojo: #d00000;
    --color-rojo-oscuro: #9d0208;


    --amarillo: #f48c06;
    --azul-fuerte: #03071E;
    --azul-opacity-50: #03071e88;
    --blanco: #ffff;
    --bg-dark: #212529;
    --color-aprobado: #65bd08;
    --color-reprobado: #c1121f;

    /* Banchscrich FUENTE */
    --Banchscrich-font: 'Roboto', sans-serif; 
        --weigth-BH-normal: 400;
        --weigth-BH-ligth: 300;
        --weigth-BH-extra-ligth: 100;
        --weigth-BH-bold: 700;

    /* FRANKLIN FUENTE */
    --fuente-FRANKLIN: 'Libre Franklin', sans-serif;
    --franklin-font: 'Libre Franklin', sans-serif;
        --weight-FKlin-700: 700;
        --weigth-Flin-900: 900;


    /*FUENTE "OSWALD" (GRANDE PRINCIPAL)*/
    --fuente-OSWALD: 'Oswald', sans-serif;
    --weigth-OSWALD-LIGTH-300: 300;             /* ANCHO DE LETRA FINA DE OSWALD */
    --weigth-OSWALD-REGULAR-400: 400;           /* ANCHO DE LETRA NORMAL DE OSWALD */
    --weigth-OSWALD-SEMIBOLD-600: 600;          /* ANCHO DE LETRA SEMI ANCHA DE OSWALD */
    --weigth-OSWALD-BOLD-700: 700;              /* ANCHO DE LETRA ANCHA DE OSWALD */


    /*FUENTE "OPEN SANS" (PARA TEXTOS. PARRAFOS O ETIQUETAS)*/
    --fuente-OPENSANS: 'Open Sans', sans-serif;
    --weigth-OPENSANS-LIGTH-300: 300;             /* ANCHO DE LETRA FINA DE OSWALD */
    --weigth-OPENSANS-REGULAR-400: 400;           /* ANCHO DE LETRA NORMAL DE OPEN SANS */
    --weigth-OPENSANS-SEMIBOLD-600: 600;          /* ANCHO DE LETRA SEMI ANCHA DE OPEN SANS */
    --weigth-OPENSANS-BOLD-700: 700;              /* ANCHO DE LETRA ANCHA DE OPEN SANS */
}



/* LOADING */
.loading{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../Imagenes/loading.gif') 50% 50% no-repeat rgb(255, 255, 255);
    opacity: 90%;
}


body{
    margin: 0;
    padding: 0;
}






/* SECTION CARROUSEL  */
.container_carrousel{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.topic-category{
    font-family: var(--Banchscrich-font);
    font-weight: var(--weigth-BH-ligth);
    color: var(--azul-fuerte);
    font-size: 5rem;
}
.carrousel{
    display: flex;
}
.carrousel_item{
    width: 33.33%;
    position: relative;
    overflow: hidden;
}
    .carrousel_item>img{
        width: 100%;
    }
    
.carrousel_item>.detalle:hover{
    background-color: rgba(0, 0, 0);
}
.carrousel_item>.detalle{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 46%;
    background-color: rgba(0, 0, 0, .8);
    font-family: var(--Banchscrich-font);

    transition: all ease .3s;
}
    .detalle .topic, .btn__category{
        justify-content: center;
    }
    .topic{
        height: 45%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .btn__category{
        height: 55%;
        padding-top: 40px;
    }

    .detalle .topic>p{
        margin: 0;
        font-size: 1.8rem;
        font-weight: var(--weigth-BH-ligth);
        text-transform: uppercase;
        color: var(--blanco);
    }

    .btn_btn_mas:hover{
        background-color: var(--blanco);
        color: var(--azul-fuerte);
    }
    .btn_btn_mas{
        padding: 15px 20px;
        border: 1.5px solid var(--blanco);  
        font-size: 1rem;
        text-decoration: none;
        font-weight: var(--weigth-BH-ligth);
        width: 130px;
        text-transform: uppercase;
        color: var(--blanco);

        transition: all ease .5s;
    }